#welcome {
    text-align: center;
    max-width: 500px;
}

#welcome h2, p{
    margin-bottom: 1.5rem;
}

#welcome h2 {
    font-size: 2.6rem;
    font-weight: bold;
}

#welcome p {
    font-size: 1.5rem;
}

#welcome img {
    margin-top: 1.8rem;
}
